/* ----------------common---------------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Varela+Round&display=swap");
:root {
  --border--radius: 15px;
  --color-deep-coral: rgb(252, 106, 53);
  --color-warm-white: rgb(255, 255, 255);
  --color-light-gray: rgb(235, 235, 235);
}
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/main.jpg") center / cover;
  z-index: -1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}
a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}
h1 {
}
h2 {
  font-size: 3rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25em;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
section {
  padding: 0;
  background-color: var(--color-warm-white);
  /* justify-content: center;
  display: flex; */
}
section:nth-child(2n) {
  background-color: var(--color-light-gray);
}

section.short {
  margin-bottom: 250px;
}

section .container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 5%;
  padding-top: 5rem;
}
section .container .title {
  margin-bottom: 3rem;
}
section .container .title h4 {
  color: var(--color-deep-coral);
}
section .container .title h2 {
}
/* ----------------common---------------------- */

/* -----------------------------헤더------------------- */
header {
  width: 100%;
  height: 4.5rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 1;
}
header .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header button {
  color: white;
}
header h1 > button {
  font-size: 2rem;
  font-weight: bold;
}
header nav ul {
  display: flex;
}
header nav ul li {
  padding: 10px;
}

header nav ul li button {
  font-size: 1.2rem;
}
/*  자바스크립트로 1페이지 이외에는 헤더 숨기기+ 마우스 호버시 등장하도록 만들기*/
/* ---------------------------헤더------------------- */

/* ---------------welcome------------------ */
section#welcome {
  /* width: 100%; */
  background-color: transparent;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
section#welcome .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 2px;
  text-align: center;
}
section#welcome .container * {
  margin: 10px;
}

section#welcome .container h2 span::after {
  display: inline-block;
  content: "";
  height: 3rem;
  width: 3px;
  background-color: white;
  animation: blink 0.5s infinite alternate cubic-bezier(1, -1, 0, 2);
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
section#welcome .container p {
  max-width: 500px;
}
button.download {
  color: inherit;
  border-radius: 5px;
  border: 3px solid white;
}
button.mouse {
  position: absolute;
  bottom: 0;
  color: inherit;
  font-size: 2rem;
  animation: jump 1s infinite alternate;
}

@keyframes jump {
  0% {
    bottom: 1rem;
  }
  100% {
    bottom: 3rem;
  }
}
/* ---------------welcome------------------ */

/* ------------about--------------- */

section#about .container .contents {
  display: flex;
  justify-content: space-between;
}
section#about .container .contents .left {
  width: 47%;
  height: 350px;
  display: flex;
  align-items: center;
  background: url("./images/main.jpg") center/cover;
}

section#about .container .contents .right {
  width: 47%;
}
section#about .container p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.social {
  font-size: 2.5rem;
}
/* ------------about--------------- */

/* -----------skills--------------- */
section#skills i {
  font-size: 35px;
  display: block;
  color: var(--color-deep-coral);
}
section#skills .container .contents {
  background-color: rgb(255, 255, 255);
  border-radius: var(--border--radius);
  padding: 15px 15px;
}
section#skills .container .contents ul#icons {
  display: none;
}

section#skills .container .contents ul#skillLists {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
section#skills .container .contents ul#skillLists li {
  padding: 15px;
  width: 200px;
  min-height: 200px;
  margin: 30px 15px;
  background-color: var(--color-light-gray);
  border-radius: var(--border--radius);
}
section#skills .container .contents ul#skillLists li > * {
  margin-bottom: 10px;
}
/* -----------skills--------------- */

/* ------------------projects------------------------- */
section#projects .container .contents {
  background-color: rgba(128, 128, 128, 0.9);
  background-color: var(--color-light-gray);
  border-radius: var(--border--radius);
}
section#projects .container .contents > ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
section#projects .container .contents > ul > li {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 400px;
  height: 450px;
  /* background-color: rgba(70, 36, 36, 0.241); */
  background-color: var(--color-warm-white);
  margin: 30px;
  border-radius: var(--border--radius);
}
section#projects .container .contents ul li > * {
  margin-bottom: 10px;
}
section#projects .container .contents ul li img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  object-position: center;
}
section#projects .container .contents ul li ul {
  display: flex;
}
section#projects i {
  margin: 5px;
  font-size: 35px;
  display: block;
  color: var(--color-deep-coral);
}

/*----------------------contact-------------------------- */
section#contact ul {
  display: flex;
  flex-direction: column;
}

section#contact ul li {
  background-color: antiquewhite;
}

section#contact .contents li {
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.351);
  background-color: var(--color-warm-white);
  margin-bottom: 10px;
  /* height: 90px; */
  max-width: 600px;
  border-radius: 10px;
}
section#contact li > div {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
section#contact li > div > i {
  font-size: 2.5rem;
  text-align: center;
  width: 50px;
  margin-right: 5px;
}
section#contact li > div > div {
  width: 80%;
}
section#contact li > div h5 {
  margin-bottom: 5px;
}
section#contact button {
  font-size: 2rem;
  /* position: absolute; */
  margin: 0 10px;
}

@media screen and (max-width: 565px) {
  /* ----------------common---------------------- */
  h5 {
  }
  section.short {
    margin-bottom: 0;
  }
  section#contact {
    margin-bottom: 130px;
  }
  /* ----------------common---------------------- */

  /* ------------------header---------------- */
  header {
    display: none;
  }
  /* ------------------header---------------- */

  /* ----------about------------ */
  section#about .contents {
    flex-direction: column;
    align-items: center;
  }
  section#about .container .contents .left {
    width: 100%;
    margin-bottom: 15px;
    /* display: flex;
    align-items: center;
    background: url("./images/main.jpg") center/cover; */
  }

  section#about .container .contents .right {
    width: 100%;
  }
  section#skills .container .contents ul#icons {
    display: flex;
  }
  section#skills .container .contents ul#icons > * {
    margin-right: 10px;
  }
  section#skills .container .contents ul#skillLists {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
  ul#skillLists > li {
    flex: 0 0 auto;
  }
}
